h1{
    color: crimson;

}
/* Comment de CSS*/

body{
    font-family: Verdana, Geneva, sans-serif;
    /*Herencia en estilos*/
    font-size: 12px;
    background-color: blueviolet;
    color: white;

    .buscador{
    width: 50%;
    margin-top: 10%;
    opacity: 0.8%;
    border-style: solid;
    font-size: inherit;
    
    }
    h2{
        color: black;
    }
    .pokemon-card{
        width: 300px;
        border: 2px solid black;
        padding: 20px;/*8px 16px 8px 16px;*/

    }

}


